.grid {
  margin-top: 30px;
  padding-top: 30px;
  padding: 0 !important;

  .show {
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .place:nth-child(2n){
    flex-direction: row-reverse;
  }
  
  .place {
    text-align: center;
    color: #3e3e3e;
    margin: 25px 0;
    display: flex;
    padding: 0;

    &-image {
      display: flex;
      justify-content: center;
      height: 500px;
      overflow: hidden;
      padding: 0;

      img {
        height: 100%;
        width: 100%;
        margin: auto;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 500px;

      &-text {
        padding: 89px;
        overflow: hidden;

        p {
          font-family: "Cormorand Garamont";
          font-style: italic;
          font-size: 24px;
          text-align: start;
        }

        h2 {
          margin: 12px 0;
          font-family: "Cormorant Garamond", serif;
          font-weight: 600;
          font-size: 70px;
          letter-spacing: 6px;
          font-style: italic;
          padding: 20px;
        }

        h6 {
          font-family: "Montserrat";
          font-style: italic;
          padding: 15px;
          margin-bottom: 17px;

          span {
            font-style: normal;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .grid {
    .place {
      &-info {
        height: 540px !important;

        &-text {
          padding: 25px !important;

          h2 {
            margin: 21px 0 !important;
            font-size: 50px !important;
          }

          p {
            text-align: center !important;
          }
        }
      }

      &-image {
        img {
          width: 200% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .grid {
    .place {
      &-info {
        &-text {
          h2 {
            font-size: 38px !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .meals-pictures {
    position: relative;

    .grid {
      .place {
        flex-direction: column;
        flex-wrap: wrap;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}
