.grid {
  margin-top: 30px;
  padding-top: 30px;
  padding: 0 !important;

  .show {
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .place {
    text-align: center;
    color: #3e3e3e;
    margin: 25px 0;
    display: flex;
    padding: 0;

    .place-image {
      display: flex;
      justify-content: center;
      border-radius: 10px;
      box-shadow: -3px 8px 25px -5px rgba(220, 224, 221, 0.91);
      height: 500px;
      overflow: hidden;
      padding: 0;

      img {
        height: 100%;
        width: 100%;
        margin: auto;
        filter: saturate(0.7);
      }
    }

    .place-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 500px;

      &-text {
        padding: 108px;
        overflow: hidden;

        h2 {
          margin: 12px 0;
          font-family: "Cormorant Garamond", serif;
          font-weight: 600;
          font-size: 70px;
          letter-spacing: 6px;
          font-style: italic;
          padding: 20px;
        }

        h6 {
          font-family: "Montserrat";
          font-style: italic;
          padding: 15px;

          span {
            font-style: normal;
            font-weight: 600;
          }
        }
      }
    }
  }
}
