.stars {
  display: flex;
  justify-content: center;
  margin: 5px 0;

  span {
    margin: 0 2px;
  }
}

.add-comment-section {
  .stars {
    unicode-bidi: bidi-override;
    direction: rtl;
    cursor: pointer;
  }
  .stars > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .stars > span:hover:before,
  .stars > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
  }
}

.rating-stars {
  height: 244px;
  background-position: bottom;
  background-image: url(../../img/lenta4.png);
  background-size: 47%;
  background-repeat: no-repeat;
  margin: 40px 0;

  .stars {
    margin: 20px 0;
    padding: 18px;
  }

  span {
    margin: 0 10px;
    font-size: 60px;
  }
}

@media screen and (max-width: 375px) {
  .rating-stars {
    height: 125px !important;
    background-size: 88%;

    .stars {
      padding: 0;

      span {
        margin: 9px;
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .rating-and-reviews {
    margin-top: 122px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .best-dishes {
    height: 892px !important;
  }

  .rating-stars {
    background-size: 92%;
    background-position-y: -21px;
    margin: unset;

    .stars {
      span {
        font-size: 40px !important;
      }
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 424px) {
  .rating-stars {
    height: 155px !important;
    background-size: 88%;
    margin: unset;
    background-position-y: -30px;

    .stars {
      padding: unset;

      span {
        margin: 10px;
        font-size: 36px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .rating-stars {
    background-size: 64%;
    margin: unset;
    background-position-y: -19px;

    .stars {
      span {
        font-size: 50px;
      }
    }
  }
}

@media screen and (min-width: 993px) and (max-width: 1024px) {
  .rating-stars {
    background-size: 64%;
    margin: unset;
  }
}
