.add-comment-section {
  .stars {
    float: left;
    height: 46px;
  }
  
  .stars:not(:checked) > input {
    position: absolute;
    visibility: hidden;
    top: auto;
  }
  
  .stars:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
  }
  
  .stars:not(:checked) > label:before {
    content: "★ ";
  }
  
  .stars > input:checked ~ label {
    color: #ffc700;
  }
  
  .stars:not(:checked) > label:hover,
  .stars:not(:checked) > label:hover ~ label {
    color: #deb217;
  }
  
  .stars > input:checked + label:hover,
  .stars > input:checked + label:hover ~ label,
  .stars > input:checked ~ label:hover,
  .stars > input:checked ~ label:hover ~ label,
  .stars > label:hover ~ input:checked ~ label {
    color: #c59b08;
  }
}

.rating-stars {
  //overall place rating
  .stars {
    margin: 20px 0;
    padding: 26px;
    transform: scale(0.9);
    display: flex;
    justify-content: center;
  }

  .active-star {
    font-size: 33px !important;
  }

  span {
    margin: auto 10px;
    font-size: 55px;
  }
}

@media screen and (max-width: 375px) {
  .rating-stars {
    height: 125px !important;
    background-size: 88%;

    .stars {
      padding: 0;

      span {
        margin: 9px;
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .rating-and-reviews {
    margin-top: 165px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .best-dishes {
    height: 892px !important;
  }

  .rating-stars {
    background-size: 92%;
    background-position-y: -21px;
    margin: unset;

    .stars {
      span {
        font-size: 40px !important;
      }
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 424px) {
  .rating-stars {
    height: 155px !important;
    background-size: 88%;
    margin: unset;
    background-position-y: -30px;

    .stars {
      padding: unset;

      span {
        margin: 10px;
        font-size: 36px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .rating-stars {
    background-size: 64%;
    margin: unset;
    background-position-y: -19px;

    .stars {
      span {
        font-size: 50px;
      }
    }
  }
}

@media screen and (min-width: 993px) and (max-width: 1024px) {
  .rating-stars {
    background-size: 64%;
    margin: unset;
  }
}
