.section-heading{
    text-align: center;
   
    h1{
        font-family: "Cormorant Garamond";
        color: #3e3e3e;
        font-weight: 700;
    }

    hr{
        width: 460px;
    }
}

@media screen and (max-width: 424px){
    .section-heading{
        h1{
            margin-top: 35px;
        }
    }
}