.three-circles-withpic {
  background: url(../../img/home-img/alwaysfresh.jpg);
  height: 600px;
  background-position: center;

  .circles-options {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;

    .circles-option {
      display: flex;
      flex-direction: column;
      align-items: center;

      .circles-image {
        display: flex;
        justify-content: center;
        border-radius: 100%;
        overflow: hidden;
        width: 330px;

        img {
          height: 330px;
          width: 330px;
        }
      }

      .circles-text {
        font-weight: 300;
        text-align: center;

        h1 {
          font-family: "Cormorant Garamond";
          font-size: 36px;
          font-style: italic;

          span {
            font-weight: 700;
          }
        }

        p {
          font-family: "Montserrat";
          color: #646464;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .three-circles-withpic {
    background: none;
  }
}
