#yuka-top {
    .background-img-container {
      .background-img {
        background-image: url(../../img/Places/yukakaiten/yuka-main-b.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }
  }
  