#malacannes-top {
  .background-img-container {
    .background-img {
      background-image: url(../../img/Places/malacannes/malacannes-background.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
