#lavenue-top {
  .background-img-container {
    .background-img {
      background-image: url(../../img/Places/lavenue/lavenue-background.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}
