#zogal-top {
  .background-img-container {
    .background-img {
      background-image: url(../../img/Places/zogal/zogal-background1.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}
