#marivanna-top {
  .background-img-container {
    .background-img {
      background-image: url(../../img/Places/marivanna/marivanna-background1.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
    }
  }
}
