#cafecity-top {
  .background-img-container {
    .background-img {
      background-image: url(../../img/Places/cafecity/cafecity-background1.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }
}
