body {
  margin: 0 auto;
}

.page-content {
  position: relative;
  overflow: hidden;
}

.margin-75 {
  height: 75px;
}

.margin-175 {
  height: 175px;
}

.margin-300 {
  height: 300px;
}

.margin-465 {
  height: 465px;
}

.margin-990 {
  height: 990px;
}

@media screen and (max-width: 425px) {
  hr {
    width: 345px !important;
  }
}

@media screen and (max-width: 420px) {
  hr {
    width: 290px !important;
  }
}

@media screen and (max-width: 992px) {
  .authorization {
    footer {
      top: 0px !important;
    }
  }
}

@media (min-width: 992px) {
  .col-lg-5 {
    max-width: unset !important;
  }
}

// @media screen and (max-width: 992px) {
//   .page-content {
//     overflow: visible !important;
//   }
// }
