body {
  margin: 0 auto;
}

.margin-75{
  height: 75px;
}

.margin-175{
  height: 175px;
}

.margin-465{
  height: 465px;
}

@media screen and (max-width:490px){
  hr{
    width: 390px !important;
  }
}

@media screen and (max-width:420px){
  hr{
    width: 290px !important;
  }
}