input[type="time"],
input[type="date"],
textarea,
select,
option {
  font-family: "Cormorant Garamond";
}

::-webkit-input-placeholder {
  font-family: "Cormorant Garamond";
}

:-moz-placeholder {
  font-family: "Cormorant Garamond";
}

::-moz-placeholder {
  font-family: "Cormorant Garamond";
}

:-ms-input-placeholder {
  font-family: "Cormorant Garamond";
}
