#lviv-top {
    .background-img-container {
      .background-img {
        background-image: url(../../img/Places/lviv/lviv-background2.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }
  }
  