footer {
  background-image: url(../../img/footer.jpg);

  .footer-content {
    display: flex;
    justify-content: space-between;

    .logo {
      margin: auto 0;
      padding: 0;
      display: flex;
    }

    .footer-text {
      margin: auto;
      display: flex;
      justify-content: center;
      letter-spacing: 6px;
      font-family: "Cormorant Garamond", serif;
      font-style: italic;

      h6 {
        color: white;
        font-weight: 700;
        font-size: 18px;
      }
    }

    .footer-menu {
      display: flex;
      color: white;
      padding: 0;
      display: flex;
      margin: 46px;
      justify-content: center;

      ul {
        padding: 0 122px;

        li {
          list-style-type: none;
          margin: 10px 5px;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  footer {
    position: relative;
    top: 900px;
    height: 300px;
  }
}

@media screen and (max-width: 767px) {
  .footer-content {
    .footer-text {
      margin: 0 51px !important;
      margin-left: 61px !important;
    }

    .footer-menu {
      justify-content: center;

      ul {
        display: flex;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer-content {
    .footer-text {
      margin: 51px !important;
    }
  }

  .footer-menu {
    justify-content: center;

    ul {
      display: flex;
      margin: 0 auto;
    }
  }
}
