footer {
  background-image: url(../../img/footer.jpg);
  overflow: hidden;

  .footer-content {
    display: flex;
    justify-content: space-between;

    .logo {
      margin: auto 0;
      padding: 0;
      display: flex;
    }

    .footer-text {
      margin: auto;
      display: flex;
      justify-content: center;
      letter-spacing: 6px;
      font-family: "Cormorant Garamond", serif;
      font-style: italic;
      text-align: center;
      flex-direction: column;

      h6 {
        color: white;
        font-weight: 700;
        font-size: 18px;
      }
    }

    .footer-menu {
      display: flex;
      color: white;
      padding: 0;
      margin: 46px;
      flex-direction: column;
      text-align: center;

      ul {
        padding: 0 122px;

        li {
          list-style-type: none;
          margin: 10px 5px;
          width: 100%;

          a {
            text-decoration: none;
            color: white;

            &:hover {
              border-bottom: 1px solid white;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    position: relative;
    top: 900px;
    height: 280px;

    .footer-content {
      justify-content: center;
      flex-direction: column;

      .logo {
        margin: 25px 0;
        display: flex;
        justify-content: center;
      }

      .footer-menu {
        padding: 32px !important;
        text-align: center !important;
        margin: 0;
        justify-content: space-between;
      }
    }
  }
}
