#homepage {
  &-content {
    position: relative;
    overflow: hidden;
  }
}

.background-img-container {
  z-index: 0;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .background-img {
    position: relative;
    height: 100%;
    z-index: -1;
    width: 100%;

    .nav-scrolled {
      background-color: red;
    }

    .nav-bar {
      height: 100px;
      position: absolute;
      width: 100%;
      z-index: 5;

      .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px auto;

        &-menu {
          display: flex;
          margin: 13px 0;
          padding: 0;

          ul {
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            padding: 0;
            justify-content: center;

            li {
              list-style-type: none;
              width: auto;
              text-align: center;

              a {
                text-decoration: none;
                font-weight: 700;
                font-size: 14px;
                font-family: "Montserrat";
                line-height: 40px;
                color: #fff;
                margin: 0px 10px;

                &:hover {
                  color: rgb(226, 185, 72);
                  position: relative;
                  bottom: 5px;
                  transition: 0.3s ease;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .nav-bar {
    position: fixed;
    top: 20px;

    .nav-logo {
      text-align: left !important;
    }
  }
}

@media screen and (max-width: 420px) {
  .nav-menu {
    ul {
      width: 342px !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .background-img-container {
    .background-img {
      background-size: auto !important;
    }
  }
}
