.background-img-container {
  z-index: 0;
  height: 800px;
  position: relative;
  overflow: hidden;

  .background-img {
    position: relative;
    height: 1000px;
    z-index: -1;
    bottom: 110px;
    width: 100%;

    #nav-bar {
      height: 100px;
      top: 130px;
      position: absolute;
      width: 100%;
      z-index: 5;

      .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px auto;

        .nav-logo {
          text-align: center;

          h1 {
            font-family: "Sacramento", cursive;
            font-size: 51px;
            color: yellow;
          }
        }

        .nav-menu {
          display: flex;
          margin: 13px 0;
          padding: 0;

          ul {
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            padding: 0;

            li {
              list-style-type: none;
              margin: 0px 10px;
              width: 67px;
              text-align: center;

              a {
                text-decoration: none;
                font-weight: 700;
                font-size: 14px;
                font-family: "Montserrat";
                line-height: 40px;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #nav-bar {
    position: fixed;
    top: 20px;

    .nav-logo{
      text-align: left !important;
    }
  }
}

@media screen and (max-width:420px){
  .nav-menu{
    ul{
      width: 342px !important;
    }
  }
}
