#maya-top {
    .background-img-container {
      .background-img {
        background-image: url(../../img/Places/mayamexican/maya-background1.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }
  }