#how-we-help {
  background: url(../../img/home-img/alwaysfresh.jpg);
  height: 600px;
  background-position: center;

  .help-options {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;

    .help-option {
      margin: 10px 30px;

      .help-image {
        display: flex;
        justify-content: center;
      }

      .help-text {
        font-weight: 300;
        text-align: center;

        h1 {
          font-family: "Cormorant Garamond";
          font-size: 36px;
          font-style: italic;

          span {
            font-weight: 700;
          }
        }

        p {
          font-family: "Montserrat";
          color: #646464;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #how-we-help {
    background: none;
  }
}
