#restaurants-list {
  .category-buttons {
    margin: 0 auto;
    padding: 0;

    .button-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .button {
        border-radius: 4px;
        border: none;
        margin: 5px;
        height: 60px;
        width: 110px;

        i {
          color: #3e3e3e;
        }

        &:active {
          color: white;
          background-color: orange;

          i {
            color: white;
          }
        }
      }
    }

    .active {
      color: white;
      background-color: orange;
      border: none;

      i {
        color: white !important;
      }
    }
  }
  
  .grid {
    .show {
      display: flex !important;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .place {
      display: none;

      &-info {
        background-image: url(../../img/home-img/frame.png);
        background-size: 72%;
        background-position: top;
        background-repeat: no-repeat;

        button {
          height: 48px;
          width: 147px;
          border: none;
          border-radius: 9px;
          margin: 20px auto;
          font-style: normal;
          font-size: 16px;
          font-family: "Montserrat";
          //background-color: #f9c62e;
          //background-color: #eeba5d;
          background-color: orange;
          a {
            text-decoration: none;
            color: white;
            font-weight: 600;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #restaurants-list {
    position: relative;
    top: 913px;
  }
}

@media screen and (max-width: 1024px) {
  .place {
    &-info {
      height: 540px !important;

      &-text {
        padding: 25px !important;

        h2 {
          margin: 21px 0 !important;
          font-size: 50px !important;
        }
      }
    }

    &-image {
      img {
        width: 200% !important;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .place {
    &-info {
      &-text {
        h2 {
          font-size: 38px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}
