@media (min-width: 1200px) {
  .container {
    max-width: 1300px !important;
  }
}

body {
  margin: 0 auto;
}

.margin-75 {
  height: 75px;
}

.margin-175 {
  height: 175px;
}

.margin-465 {
  height: 465px;
}

@media screen and (max-width: 490px) {
  hr {
    width: 390px !important;
  }
}

@media screen and (max-width: 420px) {
  hr {
    width: 290px !important;
  }
}

.top-heading {
  text-align: center;
  height: 400px;
}

.top-heading .heading1,
.top-heading .heading2 {
  z-index: 6;
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  line-height: 104px;
  font-weight: 700;
  font-size: 134px;
  margin: 0px;
  color: white;
}

.top-heading .baku {
  font-family: "Montserrat", sans-serif;
  line-height: 12px;
  letter-spacing: 8px;
  font-weight: 600;
  font-size: 13px;
  margin-top: 14px;
  color: #e7e7e0;
}

@media screen and (max-width: 580px) {
  .top-heading .heading1,
  .top-heading .heading2 {
    font-size: 82px;
  }
}

.section-heading {
  text-align: center;
}

.section-heading h1 {
  font-family: "Cormorant Garamond";
  color: #3e3e3e;
  font-weight: 700;
}

.section-heading hr {
  width: 460px;
}

.logo {
  text-align: center;
}

.logo h1 {
  font-family: "Sacramento", cursive;
  font-size: 51px;
  color: yellow;
}

.background-img-container {
  z-index: 0;
  height: 800px;
  position: relative;
  overflow: hidden;
}

.background-img-container .background-img {
  position: relative;
  height: 1000px;
  z-index: -1;
  bottom: 110px;
  width: 100%;
}

.background-img-container .background-img #nav-bar {
  height: 100px;
  top: 130px;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.background-img-container .background-img #nav-bar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
}

.background-img-container .background-img #nav-bar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 13px 0;
  padding: 0;
}

.background-img-container .background-img #nav-bar .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  padding: 0;
}

.background-img-container .background-img #nav-bar .nav-menu ul li {
  list-style-type: none;
  margin: 0px 10px;
  width: 67px;
  text-align: center;
}

.background-img-container .background-img #nav-bar .nav-menu ul li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  font-family: "Montserrat";
  line-height: 40px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  #nav-bar {
    position: fixed;
    top: 20px;
  }
  #nav-bar .nav-logo {
    text-align: left !important;
  }
}

@media screen and (max-width: 420px) {
  .nav-menu ul {
    width: 342px !important;
  }
}

footer {
  background-image: url(../../img/footer.jpg);
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-content .logo {
  margin: 45px 0;
  padding: 0;
}

footer .footer-content .footer-text {
  text-align: center;
  margin: 67px 15px;
  margin-left: 106px;
  letter-spacing: 6px;
}

footer .footer-content .footer-text h6 {
  color: white;
}

footer .footer-content .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  padding: 0;
  margin: 46px 0;
}

footer .footer-content .footer-menu ul {
  padding: 0 122px;
}

footer .footer-content .footer-menu ul li {
  list-style-type: none;
  margin: 0 5px;
  width: 66px;
}

@media screen and (max-width: 992px) {
  footer {
    position: relative;
    top: 900px;
    height: 300px;
  }
}

@media screen and (max-width: 767px) {
  .footer-content .footer-text {
    margin: 0 51px !important;
    margin-left: 61px !important;
  }
  .footer-content .footer-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-content .footer-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer-content .footer-text {
    margin: 51px !important;
  }
  .footer-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
}

#homepage-top .background-img-container .background-img {
  background-image: url(../../img/home-img/background-slider.jpg);
}

#how-we-help {
  background: url(../../img/home-img/alwaysfresh.jpg);
  height: 600px;
  background-position: center;
}

#how-we-help .help-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#how-we-help .help-options .help-option {
  margin: 10px 30px;
}

#how-we-help .help-options .help-option .help-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#how-we-help .help-options .help-option .help-text {
  font-weight: 300;
  text-align: center;
}

#how-we-help .help-options .help-option .help-text h1 {
  font-family: "Cormorant Garamond";
  font-size: 36px;
  font-style: italic;
}

#how-we-help .help-options .help-option .help-text h1 span {
  font-weight: 700;
}

#how-we-help .help-options .help-option .help-text p {
  font-family: "Montserrat";
  color: #646464;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  #how-we-help {
    background: none;
  }
}

#restaurants-list .category-buttons {
  margin-top: 30px;
  margin-left: 30px;
}

#restaurants-list .category-buttons .button-group .button {
  border-radius: 4px;
  border: none;
  margin: 5px;
  height: 30px;
}

#restaurants-list .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  overflow: hidden;
  z-index: 5;
}

#restaurants-list .grid .show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

#restaurants-list .grid .place {
  text-align: center;
  height: 370px;
  color: #3e3e3e;
  margin: 30px 10px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: -3px 8px 25px -5px rgba(220, 224, 221, 0.91);
          box-shadow: -3px 8px 25px -5px rgba(220, 224, 221, 0.91);
}

#restaurants-list .grid .place .place-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#restaurants-list .grid .place .place-image img {
  border-radius: 10px;
  margin: 10px;
  -webkit-box-shadow: -3px 8px 25px -5px rgba(220, 224, 221, 0.91);
          box-shadow: -3px 8px 25px -5px rgba(220, 224, 221, 0.91);
}

#restaurants-list .grid .place h2 {
  margin: 12px 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 30px;
}

#restaurants-list .grid .place h6 {
  font-family: "Montserrat";
  font-style: italic;
}

#restaurants-list .grid .place h6 span {
  font-style: normal;
  font-weight: 600;
}

#restaurants-list .grid .place button {
  height: 38px;
  width: 120px;
  border: none;
  border-radius: 9px;
  margin: 20px auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat";
  background-color: #f9c62e;
}

#restaurants-list .grid .place button a {
  text-decoration: none;
  color: #3e3e3e;
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  #restaurants-list {
    position: relative;
    top: 913px;
  }
}
/*# sourceMappingURL=main.css.map */